

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

body{
    border: solid #3a0ca3;
    border-width:4px;
    box-sizing: border-box;
    margin: 5%;
    padding: 5%;
    height: 100%;
    line-height: normal;
    background-color: #f2f6fc;

    
}
.logo{
    height: 100x;
    width: 150px;
    float: left;
}
/* les deux buttons d'inscription et de connexion */
.conn{
    
    float: right;
    padding: 20px;
}

.conn a  , .comment a , .btn_ajout_annonce a , .ajout_annonce button , div.annonces a , .postuler a{
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px; 
    cursor: pointer;
    border-color: white;
}
.rech button{
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  font-size: 16px; 
  cursor: pointer;
  border-width: 0px;
  
}

.conn a:nth-child(1),  div.swal-overlay.swal-overlay--show-modal button{
    background-color: #3a0ca3;
}
.conn a:nth-child(1):hover , div.swal-overlay.swal-overlay--show-modal button:hover{
    background-color: #4c20b4;
}
.conn a:nth-child(2) ,div.annonces a , .postuler a {
    background-color: #FF8500;
}
.conn a:nth-child(2):hover , .btn_ajout_annonce a:hover , div.annonces a:hover , .postuler a:hover{
    background-color: #ff921e;
    color: white;
    border-color: white;
}

 .diaporama{
    overflow: hidden;
    text-align: center;
    margin:auto;
    margin-top: 150px;
    position: relative;
    height: 400px;
    width: 1030px;

} 

.container img{
    height: 400px;
    width: 1030px;
   
}
.diapoImg{
    display: none;

}  
/* le menu et navigation entre les pages  */
nav.navBar {
    margin: 25px;
    background: #f9f9f9;
    padding: 16px; 
    border-radius: 6px;
}
nav.navBar ul {
    margin: 0px;
}
 nav.navBar .menuItems {
    list-style: none;
    display: flex;
    justify-content:space-around;  
}

nav.navBar li a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase; 
    margin: 0px;
}
nav.navBar li{
    height: 18px;
}
nav.navBar .menuItems li:nth-child(1) a{
    color: #FF8500;
    font-weight: bold;
}
nav.navBar li a::before{
    content: attr(data-item);
    transition: 0.5s;
    color: #FF8500;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
 nav.navBar li a:hover::before{   
    margin: 0px;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}
/* la zone de recherche des annonces */
 .rech {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    background-color: #3a0ca3;
    height: 90px;
    padding: 50px 47px;
    border-radius: 6px;
    margin: 25px;
    width: auto;
  }

  .rech select{
    background-color: #ffffff;
    padding: 16px 32px;
    font-weight: 600;
    color: #030d18;
    transition: all 240ms ease-out;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 25px;

  }

  .rech select:focus{
      outline:none;
  }
.rech button {
    background-color: #FF8500;
}
.rech label{
    color: white;
    font-size: 25px;
}
.rech span{
  color: white;
  font-size: 20px;
}
/* les cartes des annonces  */
.ligne1{
  display: flex;
  justify-content: space-around;
}
.card {
    margin:1%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 23%;
    height: auto;
  }
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100px;
  }
  .card-body p {
    font-size: 13px;
    margin: 0 0 10px;
  }
  .link{
   margin: auto;
  }
  .link span {
    
    display: block;
    color: #FF8500;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
  }
  .link a {
    text-decoration: none;
  }
  .link svg{
   font-size: 25px;
   margin-top: 5px;
  }


  /* button comment cela fonctionne  */

.comment{
    text-align: center;
}
.comment a , .ajout_annonce button{
    background-color: #3a0ca3;
}
.comment a:hover , .ajout_annonce button:hover {
    background-color:#315cc0;
}
/* footer style */
.footer{
    margin-top: 20px;
    background-color:#3a0ca3 ;
    height: auto;
    padding:20px
}
.footer img{
    height: 60px;
    width: 100px;
    float: left;
}
.footer .menuItems{
    list-style: none;
    display: flex;
    justify-content:space-around; 
    position: relative;
    top: 25px;
}

.footer .menuItems a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase; 
    margin: 0px;
}
.footer p {
    margin-top: 10px;
    color: #ffffff;
    position: relative;
    display: inline-block;
    right: 0px;
    left: 780px;
}


/* Profil section style*/
.profil_element{
    float: right;
}

.profil_element ul, .profil_element li {
	list-style:none;
	padding:0;
	margin:0;
}
.profil_element a {text-decoration:none;}

.profile-wrapper {
	width:200px;
	position:relative;
	margin:50px auto;
}
.profile-wrapper::after {
	content: '';
	position: absolute;
	top: 20px;
	right: 10px;
	border-color: #333 transparent transparent;
	border-width: 6px;
	border-style: solid;
}
.profile-wrapper::before {
	content: '';
	position: absolute;
	top: 20px;
	right: 10px;
	border-color: #eee transparent transparent;
	border-width: 6px;
	border-style: solid;
}
.profile-wrapper:hover::after {
	border-color: #111 transparent transparent;	
}
.profile {
	padding:10px;
	border:1px solid #000;
	border-radius:3px;
	box-shadow:0 1px 0 #555 inset, 0 1px 7px #111;
	background:#FF8500;
}
.profile:hover {
	cursor:pointer;
	background:-webkit-linear-gradient(#1f1f1f, #0a0a0a);
}
.profile .name {
	font-size:16px;
	color:#fff;
	line-height:26px;
	margin-left:10px;
}
.profile .name:hover {
	color:#0088cc;
}
.profile img {
	width:25px;
	display:inline;
	float:left;
	border:1px solid #111;
	border-radius:3px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.5) inset;
}

/* hide menu */
.menu {
	display:none;
	clear:both;
	margin:20px 0 0 0;
}
.menu li {
	font-size:16px;
	margin:0;
  padding: 10px 4px;
}
.menu li a {
	color:#555;
}
.menu li:hover > a{
	color:#eee;
}

.menu li:hover{
	border-left: 1px solid #111;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  border-top: 1px solid #111;
  border-radius: 3px;
}

/* hover profile show menu */
.profile:hover .menu {
	display:block;
}
.admin{
  position: absolute;
  right: 150px;
}
/* authentification form style */
/* Full-width input fields */
#id01 input[type=email], #id01 input[type=password] {
  height: 41.5px;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  margin-bottom: 10px ;
  }
  /* Set a style for all buttons */
  .animate button {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    background-color: #3a0ca3;
    height: 41.5px;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
    margin: 10px 0px ;
  }
  
  .animate button:hover {
    opacity: 0.8;
  }
  .cancelbtn{
    margin: auto;
  }
  /* Extra styles for the cancel button */
  button.cancelbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  
  .animate .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  /* style de la section ajouter une annonce */
 
 
  
   .ajout_annonce{
    justify-content: center;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: none;
   }
   .ajout_annonce  div:nth-child(8){
     text-align: center;
   }
.btn_ajout_annonce{
  text-align: center;
  margin: 20px auto;
}
.btn_ajout_annonce a {
  background-color: #FF8500;  
 

}


   /* presentation page style */


  /* style de la page de presentation */
  h1, h2, h3, h4, h5, h6 {
    color: #2c3145;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section_all {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
}
.section-title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.section-subtitle {
    letter-spacing: 0.4px;
    line-height: 28px;
    max-width: 550px;
}

.section-title-border {
    background-color: #000;
    height: 1 3px;
    width: 44px;
}

.section-title-border-white {
    background-color: #fff;
    height: 2px;
    width: 100px;
}
.text_custom {
    color: #00bd2a;
}

.about_icon i {
    font-size: 22px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    display: inline-block;
    background: #fff;
    border-radius: 35px;
    color: #00bd2a;
    box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_header_main .about_heading {
    max-width: 450px;
    font-size: 24px;
}

.about_icon span {
    position: relative;
    top: -10px;
}

.about_content_box_all {
    padding: 28px;
}
#about img{
  height: auto;
}

/* news page style  */
.section-title h2 {
  font-weight: 700;
  color: #3a0ca3;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #FF8500;
  padding-left: 15px;
}
.section-title {
  padding-bottom: 45px;
}


/* contact page style  */
.section {
  padding: 100px 0;
  position: relative;
}

.gray-bg {
  background-color: #f5f5f5;
}
/* Contact Us
---------------------*/
.contact-name {
margin-bottom: 30px;
}
.contact-name h5 {
font-size: 22px;
color: #20247b;
margin-bottom: 5px;
font-weight: 600;
}
.contact-name p {
font-size: 18px;
margin: 0;
}

.social-share a {
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
text-align: center;
margin-right: 10px;
}
.social-share .dribbble {
box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
background-color: #ea4c89;
}
.social-share .behance {
box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
background-color: #0067ff;
}
.social-share .linkedin {
box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
background-color: #0177ac;
}

.contact-form .form-control {
border: none;
border-bottom: 1px solid #20247b;
background: transparent;
border-radius: 0;
padding-left: 0;
box-shadow: none !important;
}
.contact-form .form-control:focus {
border-bottom: 1px solid #fc5356;
}
.contact-form .form-control.invalid {
border-bottom: 1px solid #ff0000;
}
.contact-form .send {
margin-top: 20px;
}
@media (max-width: 767px) {
.contact-form .send {
  margin-bottom: 20px;
}
}


.contact-form .send {
  margin-top: 20px;
}
.px-btn {
  padding: 0 50px 0 20px;
  line-height: 60px;
  position: relative;
  display: inline-block;
  color: #20247b;
  background: none;
  border: none;
}
.px-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 30px;
  background: transparent;
  border: 1px solid rgba(252, 83, 86, 0.6);
  border-right: 1px solid transparent;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  width: 60px;
  height: 60px;
}
.px-btn .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
}
.px-btn .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* page de details d'une annonce style  */

.details .icon-1x {
    font-size: 24px !important;
}
.details a{
    text-decoration:none;    
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #3a0ca3!important;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.details .card{
    max-width: 100%;
    padding:20px;
}
.details .card img{
     height: 200px; 
    width: 250px;
}
.details .bi{
    height: 50px;
    width: 50px;
}