

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

body{
    border: solid #3a0ca3;
    border-width:4px;
    box-sizing: border-box;
    margin: 5%;
    padding: 5%;
    height: 100%;
    line-height: normal;

    
}
.logo{
    height: 100x;
    width: 150px;
    float: left;
}
/* les deux buttons d'inscription et de connexion */
.conn{
    
    float: right;
    padding: 20px;
}

.conn a  , .rech a , .comment a , .ajout_annonce a {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px; 
    cursor: pointer;
}

.conn a:nth-child(1){
    background-color: #3a0ca3;
}
.conn a:nth-child(1):hover{
    background-color: #4c20b4;
}
.conn a:nth-child(2){
    background-color: #FF8500;
}
.conn a:nth-child(2):hover{
    background-color: #ff921e;
}
 .diaporama{
    overflow: hidden;
    text-align: center;
    margin:auto;
    margin-top: 150px;
    position: relative;
    height: 400px;
    width: 1030px;

} 

.container img{
    height: 400px;
    width: 1030px;
   
}
.diapoImg{
    display: none;

}  
/* le menu et navigation entre les pages  */
nav.navBar {
    margin: 25px;
    background: #f9f9f9;
    padding: 16px; 
    border-radius: 6px;
}
nav.navBar ul {
    margin: 0px;
}
 nav.navBar .menuItems {
    list-style: none;
    display: flex;
    justify-content:space-around;  
}

nav.navBar li a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase; 
    margin: 0px;
}
nav.navBar li{
    height: 18px;
}
nav.navBar .menuItems li:nth-child(1) a{
    color: #FF8500;
    font-weight: bold;
}
nav.navBar li a::before{
    content: attr(data-item);
    transition: 0.5s;
    color: #FF8500;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
 nav.navBar li a:hover::before{   
    margin: 0px;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}
/* la zone de recherche des annonces */
 .rech {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    background-color: #3a0ca3;
    height: 90px;
    padding: 50px 47px;
    border-radius: 6px;
    margin: 25px;
    width: auto;
  }

  .rech input{

    background-color: #ffffff;
    padding: 16px 32px;
    font-weight: 600;
    color: #030d18;
    transition: all 240ms ease-out;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 25px;

  }
  .rech input:focus{
      outline:none;
  }
.rech a {
    background-color: #FF8500;
}
.rech label{
    color: white;
}
/* les cartes des annonces  */
.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 250px;
    height: 310px;
  }
  .card-header img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 100px;
  }
  .card-body p {
    font-size: 13px;
    margin: 0 0 10px;
  }
  .link{
   margin: auto;
  }
  .link span {
    
    display: block;
    color: #FF8500;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
  }
  .link a {
    text-decoration: none;
  }
  .link svg{
   font-size: 25px;
   margin-top: 5px;
  }


  /* button comment cela fonctionne  */

.comment{
    text-align: center;
}
.comment a {
    background-color: #3a0ca3;
}
.comment a:hover {
    background-color:#315cc0;
}
/* footer style */
.footer{
    margin-top: 20px;
    background-color:#3a0ca3 ;
    height: auto;
    padding:20px
}
.footer img{
    height: 60px;
    width: 100px;
    float: left;
}
.footer .menuItems{
    list-style: none;
    display: flex;
    justify-content:space-around; 
    position: relative;
    top: 25px;
}

.footer .menuItems a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase; 
    margin: 0px;
}
.footer p {
    margin-top: 10px;
    color: #ffffff;
    position: relative;
    display: inline-block;
    right: 0px;
    left: 780px;
}


/* Profil section style*/
.profil_element{
    float: right;
}

.profil_element ul, .profil_element li {
	list-style:none;
	padding:0;
	margin:0;
}
.profil_element a {text-decoration:none;}

.profile-wrapper {
	width:200px;
	position:relative;
	margin:50px auto;
}
.profile-wrapper::after {
	content: '';
	position: absolute;
	top: 20px;
	right: 10px;
	border-color: #333 transparent transparent;
	border-width: 6px;
	border-style: solid;
}
.profile-wrapper::before {
	content: '';
	position: absolute;
	top: 20px;
	right: 10px;
	border-color: #eee transparent transparent;
	border-width: 6px;
	border-style: solid;
}
.profile-wrapper:hover::after {
	border-color: #111 transparent transparent;	
}
.profile {
	padding:10px;
	border:1px solid #000;
	border-radius:3px;
	box-shadow:0 1px 0 #555 inset, 0 1px 7px #111;
	background:#FF8500;
}
.profile:hover {
	cursor:pointer;
	background:-webkit-linear-gradient(#1f1f1f, #0a0a0a);
}
.profile .name {
	font-size:16px;
	color:#fff;
	line-height:26px;
	margin-left:10px;
}
.profile .name:hover {
	color:#0088cc;
}
.profile img {
	width:25px;
	display:inline;
	float:left;
	border:1px solid #111;
	border-radius:3px;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.5) inset;
}

/* hide menu */
.menu {
	display:none;
	clear:both;
	margin:20px 0 0 0;
}
.menu li {
	font-size:16px;
	margin:0;
  padding: 10px 4px;
}
.menu li a {
	color:#555;
}
.menu li:hover > a{
	color:#eee;
}

.menu li:hover{
	border-left: 1px solid #111;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  border-top: 1px solid #111;
  border-radius: 3px;
}

/* hover profile show menu */
.profile:hover .menu {
	display:block;
}

/* authentification form style */
/* Full-width input fields */
#id01 input[type=text], #id01 input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

  /* style de la section ajouter une annonce */
 
  .ajout_annonce a {
    background-color: #FF8500;  
  }
  
   .ajout_annonce{
    text-align: center;
   }